{{- $tokens   := resources.Get "css/tokens.css" -}}
{{- $reset    := resources.Get "css/reset.css" -}}
{{- $base     := resources.Get "css/base.css" -}}
{{- $buttons  := resources.Get "css/components/buttons.css" -}}
{{- $cards    := resources.Get "css/components/cards.css" -}}
{{- $badges   := resources.Get "css/components/badges.css" -}}
{{- $forms    := resources.Get "css/components/forms.css" -}}
{{- $nav      := resources.Get "css/components/nav.css" -}}
{{- $toolsticker := resources.Get "css/components/tools-ticker.css" -}}
{{- $heromotif := resources.Get "css/components/hero-motif.css" -}}
{{- $hero     := resources.Get "css/sections/hero.css" -}}
{{- $homepage := resources.Get "css/sections/homepage.css" -}}
{{- $pages    := resources.Get "css/sections/pages.css" -}}
{{- $whyRobotmk := resources.Get "css/sections/why-robotmk.css" -}}
{{- $usecases := resources.Get "css/sections/use-cases.css" -}}
{{- $blog     := resources.Get "css/sections/blog.css" -}}
{{- $css := slice $tokens $reset $base $buttons $cards $badges $forms $nav $toolsticker $heromotif $hero $homepage $pages $whyRobotmk $usecases $blog
    | resources.Concat "css/main.css"
    | fingerprint -}}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
