{{- if .Param "authorbox" }}
<div class="authorbox">
	{{ $name := .Site.Author.name }}
	{{ if not $name }}
		<p class="authorbox__warning">
		<strong>WARNING:</strong> Authorbox is activated, but [Author.name] is not specified.
		</p>
	{{ end }}

	{{ $avatar := .Site.Author.avatar }}
	{{ if not $avatar }}
		<p class="authorbox__warning">
		<strong>WARNING:</strong> Authorbox is activated, but [Author.avatar] is not specified.
		</p>
	{{ end }}

	{{ $bio := i18n "author_bio" | markdownify }}
	{{ if not $bio }}
		<p class="authorbox__warning">
		<strong>WARNING:</strong> Authorbox is activated, but [$bio] is not specified.
		</p>
	{{ end }}

	{{- with $avatar }}
	<figure class="authorbox__avatar">
		<img alt="{{ $.Site.Author.name }} avatar" src="{{ $.Site.Author.avatar | relURL }}" class="avatar" height="90" width="90">
	</figure>
	{{- end }}

	<div class="authorbox__body">
		{{- with $name }}
		<div class="authorbox__header">
			<span class="authorbox__name">{{ T "authorbox_name" (dict "Name" .) }}</span>
		</div>
		{{- end }}

		{{- with $bio }}
		<div class="authorbox__description">
			{{ . | markdownify }}
		</div>
		{{- end }}
	</div>
</div>
{{- end }}
