{{ if and (isset .Site.Params "giscus") (not (.Param "nocomments")) }}

<script src="https://giscus.app/client.js"
        data-repo="{{.Site.Params.giscus.conf.repo}}"
        data-repo-id="{{.Site.Params.giscus.conf.repo_id}}"
        data-category="{{.Site.Params.giscus.conf.category}}"
        data-category-id="{{.Site.Params.giscus.conf.category_id}}"
        data-mapping="{{.Site.Params.giscus.conf.mapping}}"
        data-strict="{{.Site.Params.giscus.conf.strict}}"
        data-reactions-enabled="{{.Site.Params.giscus.conf.reactions_enabled}}"
        data-emit-metadata="{{.Site.Params.giscus.conf.emit_metadata}}"
        data-input-position="{{.Site.Params.giscus.conf.input_position}}"
        data-theme="{{.Site.Params.giscus.conf.theme}}"
        data-lang="{{.Site.Params.giscus.conf.lang}}"
        {{/*  data-loading="{{.Site.Params.giscus.conf.data_loading}}"  */}}
        data-crossorigin="{{.Site.Params.giscus.conf.crossorigin}}"
        async>
</script>
<noscript>Please enable JavaScript to view the comments powered by giscus.</noscript>
{{ end }}