{{- if .Site.Menus.main }}
<nav class="menu">
	<button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
		<span class="menu__btn-title" tabindex="-1">{{ T "menu_label" }}</span>
	</button>
	<ul class="menu__list header_new__container">
		{{- $currentNode := . }}
		{{ $inMenu := slice }}

		{{- range $k,$v := .Site.Menus.main }}
		{{ $inMenu = $inMenu | append .URL }}
		{{ end }}	

		{{- range $k,$v := .Site.Menus.main }}
		{{- if .Name }}
		{{ if in site.Params.menu_filter $currentNode.RelPermalink }}
		<li class="menu__item {{if and (eq $currentNode.RelPermalink (index $inMenu $k)) ($.IsPage) }}menu__item--active{{end}}">
		{{ else }}
		<li class="menu__item{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}">
		{{ end }}
		
			<a class="menu__link" href="{{ .URL }}">
				{{ .Pre }}
				<span class="menu__text">
					{{ if .Page }}
						{{ with .Page }}
							{{ if .Params.menutitle }}
								{{ .Params.menutitle }}
							{{ else }}
								{{ .Name }}
							{{ end }} 
							{{/*  zeige menüeintrag index  */}}
							{{/*  {{ if $.Site.IsServer }}
								{{ .Weight }}	
							{{ end }}  */}}
						{{ end }}
					{{ else }}
						{{ .Name }}
					{{ end }}
				</span>
				{{ .Post }}
			</a>
		</li>
		{{- end }}
		{{- end }}
	</ul>
</nav>
{{ else -}}
<div class="divider"></div>
{{- end }}